.mana {
    position: absolute;
    width: 7.5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transform: translate(-135%, -130%);
    z-index: 3;
  }
  
.manaNumber {
    position: absolute;
    width: fit-content;
    line-height: 7vw;
    margin: 0 auto;
    left: -20.5vw;
    top: -10vw;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
    font-size: 7vw;
    color: white;
    font-family: 'Belwe';
    font-weight: 500;
    height: fit-content;
    text-shadow:
        0.15vw 0.15vw 0 #000,
        -0.15vw 0.15vw 0 #000,
        -0.15vw -0.15vw 0 #000,
        0.15vw -0.15vw 0 #000;
}

.health {
    position: absolute;
    width: 8.5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(120%, 220%);
    cursor: pointer;
    z-index: 9;
}

.healthNumber {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    width: fit-content;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 6vw;
    transform: translate(10vw, 20.2vw);
    cursor: pointer;
    z-index: 10;
    font-size: 6vw;
    text-align: center;
    color: white;
    font-family: 'Belwe';
    height: fit-content;
    font-weight: 500;
    text-shadow:
        0.15vw 0.15vw 0 #000,
        -0.15vw 0.15vw 0 #000,
        -0.15vw -0.15vw 0 #000,
        0.15vw -0.15vw 0 #000;
}

.attack {
    position: absolute;
    width: 8.5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(-120%, 220%);
    cursor: pointer;
    z-index: 9;
}

.attackNumber {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    height: fit-content;
    width: fit-content;
    line-height: 6vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(-9.8vw, 20.2vw);
    cursor: pointer;
    z-index: 10;
    font-size: 6vw;
    text-align: center;
    color: white;
    font-family: 'Belwe';
    text-shadow:
        0.15vw 0.15vw 0 #000,
        -0.15vw 0.15vw 0 #000,
        -0.15vw -0.15vw 0 #000,
        0.15vw -0.15vw 0 #000;
}

.gem {
    position: absolute;
    width: 2.2vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(5%, 352%);
    cursor: pointer;
    z-index: 9;
}

.legendaryDragon {
    position: absolute;
    width: 20vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(15%, -80%);
    z-index: 3;
}

.textContainer {
  position: absolute;
  width: 21vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(0%, 102%);
  cursor: pointer;
  z-index: 2;
}
  
.normalSizeText {
    position: absolute;
    height: 12vw;
    width: 23vw;
    line-height: 2vw;
    margin: 0 auto;
    left:  -0.4%;
    right: 0;
    top: 45%;
    cursor: pointer;
    z-index: 6;
    font-size: 2vw;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic';
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(0.9,1); /* W3C */
    padding: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.smallSizeText {
    position: absolute;
    height: 12vw;
    width: 23vw;
    line-height: 1.6vw;
    margin: 0 auto;
    left:  -0.4%;
    right: 0;
    top: 45%;
    cursor: pointer;
    z-index: 6;
    font-size: 1.7vw;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic';
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(0.9,1); /* W3C */
    padding: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.raceContainer {
    position: absolute;
    width: 14vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0%, 690%);
    cursor: pointer;
    z-index: 8;
}
  
.raceText {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    height: fit-content;
    width: fit-content;
    line-height: 1.6vw;
    margin: 0 auto;
    left: -0.4vw;
    right: 0;
    top: 84%;
    cursor: pointer;
    z-index: 9;
    font-size: 1.6vw;
    text-align: center;
    color: white;
    font-family: 'Belwe';
    font-weight: 900;
    text-shadow:
    0.1vw 0.1vw 0 #000,
      -0.1vw 0.1vw 0 #000,
      -0.1vw -0.1vw 0 #000,
      0.1vw -0.1vw 0 #000;
      -webkit-transform:scale(2,1); /* Safari and Chrome */
      -moz-transform:scale(2,1); /* Firefox */
      -ms-transform:scale(2,1); /* IE 9 */
      -o-transform:scale(2,1); /* Opera */
      transform:scale(1.05,1); /* W3C */
}
  
.dualRaceContent .raceText {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    height: fit-content;
    width: fit-content;
    line-height: 1.5vw;
    margin: 0 auto;
    left: 0.2vw;
    right: 0;
    top: 83.5%;
    cursor: pointer;
    z-index: 9;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    font-family: 'Belwe';
    font-weight: 900;
    text-shadow:
    0.1vw 0.1vw 0 #000,
      -0.1vw 0.1vw 0 #000,
      -0.1vw -0.1vw 0 #000,
      0.1vw -0.1vw 0 #000;
      -webkit-transform:scale(2,1); /* Safari and Chrome */
      -moz-transform:scale(2,1); /* Firefox */
      -ms-transform:scale(2,1); /* IE 9 */
      -o-transform:scale(2,1); /* Opera */
      transform:scale(1.05,1); /* W3C */
}
  
.secondRaceText {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    height: fit-content;
    width: fit-content;
    line-height: 1.5vw;
    margin: 0 auto;
    left: 0.2vw;
    right: 0;
    top: 89%;
    cursor: pointer;
    z-index: 9;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    font-family: 'Belwe';
    font-weight: 900;
    text-shadow:
    0.1vw 0.1vw 0 #000,
      -0.1vw 0.1vw 0 #000,
      -0.1vw -0.1vw 0 #000,
      0.1vw -0.1vw 0 #000;
      -webkit-transform:scale(2,1); /* Safari and Chrome */
      -moz-transform:scale(2,1); /* Firefox */
      -ms-transform:scale(2,1); /* IE 9 */
      -o-transform:scale(2,1); /* Opera */
      transform:scale(1.05,1); /* W3C */
}
  
.dualRaceContainer {
    position: absolute;
    width: 16vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0%, 504%);
    cursor: pointer;
    z-index: 8;
}
  
.emblem {
    position: absolute;
    width: 10vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(3%, 135%);
    cursor: pointer;
    z-index: 5;
    mix-blend-mode: multiply;   
    filter: invert(5%) sepia(10%) saturate(260%) hue-rotate(343deg) brightness(94%) contrast(89%);
    opacity: 50%;
}

