.mana {
    position: absolute;
    width: 7.5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transform: translate(-135%, -130%);
    z-index: 3;
  }
  
.manaNumber {
    position: absolute;
    width: fit-content;
    line-height: 7vw;
    margin: 0 auto;
    left: -20.5vw;
    top: -10vw;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
    font-size: 7vw;
    color: white;
    font-family: 'Belwe';
    font-weight: 500;
    height: fit-content;
    text-shadow:
        0.15vw 0.15vw 0 #000,
        -0.15vw 0.15vw 0 #000,
        -0.15vw -0.15vw 0 #000,
        0.15vw -0.15vw 0 #000;
}

.gem {
    position: absolute;
    width: 2.5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(-12%, 319%);
    cursor: pointer;
    z-index: 9;
}

.legendaryDragon {
    position: absolute;
    width: 22.5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(18.5%, -79%);
    z-index: 3;
}

.emblem {
    position: absolute;
    width: 10vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0%, 135%);
    cursor: pointer;
    z-index: 5;
    mix-blend-mode: multiply;   
    filter: invert(5%) sepia(10%) saturate(260%) hue-rotate(343deg) brightness(94%) contrast(89%);
    opacity: 50%;
}

.textContainer {
    position: absolute;
    width: 19vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(-1%, 115%);
    cursor: pointer;
    z-index: 2;
    
 }
    
.normalSizeText {
    position: absolute;
    height: 6.5vw;
    width: 21vw;
    line-height: 1.75vw;
    margin: 0 auto;
    left:  -0.3%;
    right: 0;
    top: 56%;
    cursor: pointer;
    z-index: 6;
    font-size: 1.9vw;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic';
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(0.9,1); /* W3C */
    padding: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    
.smallSizeText {
    position: absolute;
    height: 12vw;
    width: 23vw;
    line-height: 1.6vw;
    margin: 0 auto;
    left:  -0.4%;
    right: 0;
    top: 45%;
    cursor: pointer;
    z-index: 6;
    font-size: 1.7vw;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic';
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(0.9,1); /* W3C */
    padding: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.spellSchoolContainer {
    position: absolute;
    width: 13.2vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(0%, 1050%);
    z-index: 7;
    cursor: pointer;
}

.spellSchoolText {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    height: fit-content;
    width: fit-content;
    line-height: 1.5vw;
    margin: 0 auto;
    left: -0.4vw;
    right: 0;
    top: 85%;
    cursor: pointer;
    z-index: 9;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    font-family: 'Belwe';
    font-weight: 900;
    text-shadow:
    0.1vw 0.1vw 0 #000,
      -0.1vw 0.1vw 0 #000,
      -0.1vw -0.1vw 0 #000,
      0.1vw -0.1vw 0 #000;
      -webkit-transform:scale(2,1); /* Safari and Chrome */
      -moz-transform:scale(2,1); /* Firefox */
      -ms-transform:scale(2,1); /* IE 9 */
      -o-transform:scale(2,1); /* Opera */
      transform:scale(1.05,1); /* W3C */
}

.spellSchoolFooter {
    position: absolute;
    width: 20.75vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translate(-1%, 550%);
    z-index: 2;
    cursor: pointer;
}