html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Belwe';
  src: url('./fonts/Belwe-Bold.woff2'),
       url('./fonts/Belwe-Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('./fonts/FranklinGothic.woff'),
       url('./fonts/FranklinGothic.woff2')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #131313;
  color: #ffffff;
}

#header {
  font-size: 4vw;
  margin-top: -1.2vw;
}

#currentScore {
  font-size: 2vw;
}

#bestScore {
  font-size: 1.5vw;
}

#cardContainer {
  position: relative;
  top: 0;
  left: 0;
  height: 42vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

#card {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 30vw;
  pointer-events: none;
}

#mana {
  position: absolute;
  width: 7.5vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  cursor: pointer;
  transform: translate(-135%, 50%);
  z-index: 3;
}

#manaNumber {
  position: absolute;
  width: 12vw;
  margin: 0 auto;
  left: -20vw;
  top: 1.5vw;
  right: 0;
  cursor: pointer;
  z-index: 4;
  font-size: 7vw;
  color: white;
  font-family: 'Belwe';
  font-weight: 500;
  text-shadow:
    0.2vw 0.2vw 0 #000,
    -0.2vw 0.2vw 0 #000,
    -0.2vw -0.2vw 0 #000,
    0.2vw -0.2vw 0 #000;
}

#health {
  position: absolute;
  width: 8.5vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(117%, 380%);
  cursor: pointer;
  z-index: 3;
}

#healthNumber {
  position: absolute;
  width: 10vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(9.8vw, 32vw);
  cursor: pointer;
  z-index: 4;
  font-size: 6vw;
  text-align: center;
  color: white;
  font-family: 'Belwe';
  font-weight: 500;
  text-shadow:
    0.2vw 0.2vw 0 #000,
    -0.2vw 0.2vw 0 #000,
    -0.2vw -0.2vw 0 #000,
    0.2vw -0.2vw 0 #000;
}

#attack {
  position: absolute;
  width: 8.5vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(-120%, 380%);
  cursor: pointer;
  z-index: 3;
}

#attackNumber {
  position: absolute;
  width: 10vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(-9.5vw, 32vw);
  cursor: pointer;
  z-index: 4;
  font-size: 6vw;
  text-align: center;
  color: white;
  font-family: 'Belwe';
  font-weight: 500;
  text-shadow:
    0.2vw 0.2vw 0 #000,
    -0.2vw 0.2vw 0 #000,
    -0.2vw -0.2vw 0 #000,
    0.2vw -0.2vw 0 #000;
}

#nothingWrong {
  color: white;
  background-color: green;
  border: none;
  font-size: 2vw;
  cursor: pointer;
  padding: 2vh 2vw;
  border-radius: 10px;
  font-family: 'Franklin Gothic';
  height: fit-content;
  width: fit-content;
}

#nothingWrong:hover {
  background-color: rgb(0, 92, 0);
}

.hidden {
  display: none
}

#checkmark {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(0vw, -35vw);
  z-index: 4;
  width: 10vw;
}

#xmark {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translate(0vw, -35vw);
  z-index: 4;
  width: 10vw;
}

#newGame {
  color: white;
  background-color: rgb(184, 0, 0);
  border: none;
  font-size: 2vw;
  cursor: pointer;
  padding: 2vh 2vw;
  border-radius: 10px;
  font-family: 'Franklin Gothic';
}

#newGame:hover {
  background-color: rgb(127, 0, 0);
}

#reasonForError {
  font-size: 1.5vw;
  margin-top: 1vh;
  color: rgb(255, 0, 0);
  text-align: center;
  margin-left: 0.5vw;
  margin-right: auto;
}

#emblem {
  width: 132px;    
  mix-blend-mode: multiply;    
  top: 0px;    
  position: absolute; 
  filter: invert(5%) sepia(10%) saturate(260%) hue-rotate(343deg) brightness(94%) contrast(89%);
}